<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itesm.labs.labsuser">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.application.LabsApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LabsTheme">
        <activity
            android:name=".app.commons.views.activities.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.commons.views.activities.LabsActivity"
            android:label="@string/title_activity_laboratorios"
            android:parentActivityName=".app.commons.views.activities.LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.commons.views.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".app.commons.views.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".app.commons.views.activities.LabsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.commons.views.activities.LabsActivity" />
        </activity>

        <service android:name=".app.commons.services.BackgroundService" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="727c1a1f00406d3676ef61ba0a55466fe6877f40" />
    </application>

</manifest>
